@mixin linkbuttonPrimary {
    background: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
    border-radius: 22px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    color: #FFFFFF;
    display: inline-block;
    padding: 10px 35px;
    text-decoration: none;
}

